.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.image-sizing {
  width: 25%;
}

.font {
  font-family: 'Barlow', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.font-weight-heading {
  font-weight: 900;
}
