.row {
  display: flex;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.column-one-quarter {
  width: 25%;
}

div.column-one-quarter > img {
  width: 100%;
}

.column-two-third {
  width: 200% / 3;
}

.column-one-third {
  width: 100% / 3;
}
