.green-color {
  color: rgb(24, 205, 27);
}

.red-color {
  color: rgb(248, 9, 8);
  border-bottom: 3px solid red;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.height {
  height: 300px;
}

.align-center {
  align-items: center;
}

.underline {
  border-bottom: 3px solid black;
}
